
<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <a class="navbar-brand text-white" href="#">CDatum</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link text-white" [routerLink]="['/']">Home</a></li>
        <li class="nav-item"><a class="nav-link text-white" [routerLink]="['/about']">About</a></li>
        <li class="nav-item"><a class="nav-link text-white" [routerLink]="['/Commodity']">Commodity</a></li>
      </ul>
  </div>
</nav>

<router-outlet></router-outlet>
